build/
*.pyc
_trial_temp/
_trial_temp.lock
bin/
buildbot_travis.egg-info/
distribute-*.tar.gz
include/
lib/
.tox
static
libs
node_modules
VERSION
sandbox
wheelhouse
dist
worker/
buildbot.tac
run.sh
*.log
*.pid
*.sqlite
pollers/
.idea
*-job/
*-try/
*-deploy/
*.sample
