*.pyc
_trial_temp/
bin/
buildbot_travis.egg-info/
distribute-*.tar.gz
include/
lib/
.tox
static
libs
node_modules
VERSION
sandbox
wheelhouse
dist
slave/
buildbot.tac
cfg.yml
run.sh
*.log
*.pid
*.sqlite
pollers/
.idea
*-job/
*-try/
*-deploy/
*.sample

