config-page
    .row
        ng-form.form-horizontal(name="form")
            .form-group
                label.col-sm-2.control-label Authentication type:
                .col-sm-10
                    select.form-control(ng-model="auth.type")
                        option(value="None") No Authentication
                        option(value="GitHub") GitHub OAuth2
                        option(value="GitLab") GitLab OAuth2
                        option(value="Google") Google OAuth2
                        option(value="Custom") Custom Authentication Python Code

            .form-group(ng-if='isOAuth()')
                label.col-sm-2.control-label ClientId:
                .col-sm-10
                    input.form-control(type="text", ng-model="auth.clientid")

            .form-group(ng-if='isOAuth()')
                label.col-sm-2.control-label ClientSecret:
                .col-sm-10
                    input.form-control(type="text", ng-model="auth.clientsecret")

            .form-group(ng-if='auth.type=="GitLab"')
                label.col-sm-2.control-label GitLab URL:
                .col-sm-10
                    input.form-control(type="text", ng-model="auth.instanceUri", placeholder="https://gitlab.com")

            .form-group(ng-if='auth.type=="Custom"')
                label.col-sm-2.control-label Python Code:
                .col-sm-10
                    code-editor(type="text", code="auth.customcode")

            .panel.panel-default(ng-if='isOAuth()')
                .panel-body
                    | You can look at the&nbsp;
                    a(ng-href='{{getOAuthDoc(auth.type)}}') {{ auth.type }} OAuth2 documentation
                    | &nbsp;on how to register your Buildbot instance to the {{ auth.type }} systems.
                    p The developer console will give you the two parameters you have to fill in this form.
                    p Register your Buildbot instance with the BUILDBOT_URL/auth/login url as the allowed redirect URI.

            .panel.panel-default(ng-if='auth.type=="Custom"')
                .panel-body
                    | This custom code should create an 'auth' variable initialising an&nbsp;
                    a(href="http://docs.buildbot.net/latest/manual/cfg-www.html#authentication-plugins") authentication plugin

            div
                .form-group
                    label.col-sm-2.control-label Authorization rules:
                    .col-sm-10
                        select.form-control(ng-model="auth.authztype")
                            option(value="Groups") Admin rights to a {{AuthType}} group
                            option(value="Emails") Admin rights to a list of people via email
                            option(value="Custom") Custom Authorization settings via Python Code
                .form-group(ng-if="auth.authztype == 'Groups'")
                    label.col-sm-2.control-label Groups:
                    .col-sm-10
                        input-tags(tags="auth.groups", placeholder="enter a group")
                .form-group(ng-if="auth.authztype == 'Emails'")
                    label.col-sm-2.control-label Emails:
                    .col-sm-10
                        input-tags(tags="auth.emails", placeholder="enter an email")

            .form-group(ng-if='auth.authztype=="Custom"')
                label.col-sm-2.control-label Python Code:
                .col-sm-10
                    code-editor(type="text", code="auth.customauthzcode")

            .panel.panel-default(ng-if='auth.type=="Custom"')
                .panel-body
                    | This custom code should create an 'allowRules' and 'roleMatchers' variables as per&nbsp;
                    a(href="http://docs.buildbot.net/latest/manual/cfg-www.html##authorization-rules") authorization framework
