config-page
    .alert.alert-info
        p Secrets are available from interpolation in bbtravis.yml, but only if TRAVIS_PULL_REQUEST is not set:
        pre.code
            |  - title: upload
            |    condition: not TRAVIS_PULL_REQUEST
            |    cmd: !i "upload_to_s3.py --token %(secret:S3_UPLOAD_TOKEN)s"

    form.form-group(ng-repeat="(key, value) in cfg.secrets")
        ng-form(name="{{key}}")
            .form-group.col-sm-6
                input.form-control(type="text", ng-model="key", ng-disabled='true')
            .input-group.col-sm-6
                    input.form-control(name="value", type="password", value="xxxxxxxx", ng-disabled='true')
                    .input-group-btn
                        .btn.btn-default(ng-click="secrets_edit(key)")
                            i.fa.fa-edit
                    .input-group-btn
                        .btn.btn-danger(ng-click="secrets_remove(key)")
                            i.fa.fa-times
    form.form-group
        ng-form(name="form2")
            .col-sm-6.form-group(show-errors)
                input.form-control(name="name", type="text", ng-model="new_secret.key",
                                  placeholder="variable name", required)
            .col-sm-6.input-group
                    textarea.form-control(name="value", id="new_value", rows="1", ng-model="new_secret.value",
                                       placeholder="secret value")
                    .input-group-btn
                        .btn.btn-default(ng-disabled="form2.$invalid", ng-click="secrets_add(key)")
                            i.fa.fa-plus
