.container
    .row
        .col-sm-12
            .panel.panel-default
                .panel-heading
                    h3.panel-title
                        | {{ title }}
                .panel-body
                    ng-transclude
                .panel-footer
                    .btn.btn-default(ng-click="cancel()")
                        | Dismiss changes
                    .btn.btn-default.pull-right(ng-class="{disabled: hasInvalids()}", ng-click="save()")
                        | Save
