{% extends "travis.layout.html" %}
{% import 'forms.html' as forms %}
{% from "change_macros.html" import change with context %}

{% set buildername = b.getBuilder().getName() %}

{% block extracss %}
#steps .accordion-inner {
  padding: 9px 30px;
}
{% endblock %}

{% block body %}

<div class="page-header">
  <h1>Build summary <small>for #{{ b.getNumber() }}</small></h1>
</div>

<div>

{% if not b.isFinished() %}
  <h2>
    Build In Progress <small>
  </h2>
  {% if authz.advertiseAction('stopBuild', request) %}
  <form action="../../../builders/{{ buildername }}/builds/{{ b.getNumber() }}/stop" method="post">
    <input class="btn btn-large btn-danger" name="comments" type="submit" value="Interrupt This Build">
    </form>
  {% endif %}
{% else %}
  <h2>Results</h2>

  <p>This build ended in state <span class="label label-{{ result_css}}">{{ result_css }}</span> in {{ elapsed }}.</p>
   
  {% if authz.advertiseAction('forceBuild', request) %}
  <form method="post" action="../../../builders/{{ buildername }}/builds/{{ b.getNumber() }}/rebuild" class="command rebuild">
    <input class="btn btn-large btn-primary" type="submit" value="Rebuild" />
  </form>
  {% endif %}

{% endif %}

<h2>Source</h2>

{% for ss in sourcestamps %}
<table class="table table-striped table-bordered table-condensed" width="100%">
{% if ss.project %}
  <tr><td class="left">Project</td><td>{{ ss.project|projectlink }}</td></tr>
{% endif %}

{% if ss.repository %}
  <tr><td class="left">Repository</td><td>{{ ss.repository|repolink }}</td></tr>
{% endif %}

{% if ss.branch %}
  <tr><td class="left">Branch</td><td>{{ ss.branch|e }}</td></tr>
{% endif %}

{% if ss.revision %}
  <tr><td class="left">Revision</td><td>{{ ss.revision|revlink(ss.repository) }}</td></tr>
{% endif %}

{% if got_revisions[ss.codebase] %}
  <tr><td class="left">Got Revision</td><td>{{ got_revisions[ss.codebase]|revlink(ss.repository) }}</td></tr>
{% endif %}

{% if ss.patch %}
  <tr><td class="left">Patch</td><td>YES</td></tr>
{% endif %}

{% if ss.changes %}
  <tr><td class="left">Changes</td><td>see below</td></tr>
{% endif %}

{% if not ss.branch and not ss.revision and not ss.patch and not ss.changes %}
  <tr><td class="left" colspan="2">Build of most recent revision</td></tr>
{% endif %}

</table>
{% endfor %}

<h2>Steps and Logfiles</h2>

<div id="steps" class="accordion">
{% for s in steps if s.css_class != 'not_started' %}
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" href="#steps-{{ s.name }}" data-parent="#steps" data-toggle="collapse">
        {% if not s.name.startswith("travis_") %}
        {{ s.name }}
        {% else %}
        <code>{{ s.text }}</code>
        {% endif %}
        <span style="float:right; padding-left: 5px"><span class="badge badge-{{ s.css_class }}"></span></span>
        <span style="float:right;">{{ '( ' + s.time_to_run + ' )' if s.time_to_run else '' }}</span>
      </a>
    </div>

    <div id="steps-{{ s.name }}" class="accordion-body collapse {% if loop.last %}in{% endif %}">
    <div class="accordion-inner">
      {% set item_class = cycler('alt', '') %}
      {% for l in s.logs %}
        <li class="{{ item_class.next() }}"><a href="{{ l.link }}">{{ l.name }}</a></li>
      {% else %}
        <li class="{{ item_class.next() }}">- no logs -</li>
      {% endfor %}
    
      {% for u in s.urls %}
        <li class="{{ item_class.next() }}"><a href="{{ u.url }}">{{ u.logname }}</a></li>
      {% endfor %}
    </div>
    </div>  
  </div>
{% endfor %}
</div>

<h2>Build Properties</h2>

<table class="table table-striped table-bordered table-condensed" width="100%">
<tr><th>Name</th><th>Value</th><th>Source</th></tr>

{% for p in properties %}
  <tr class="{{ loop.cycle('alt', '') }}">
    <td class="left">{{ p.name|e }}</td>
    {% if p.short_value %}
    <td>{{ p.short_value|e }} .. [property value too long]</td>
    {% elif p.value is sequence and p.value is not string %}
    <td>
      <ul>
      {% for v in p.value %}
        <li>{{ v }}</li>
      {% endfor %}
      </ul>
    </td>
    {% else %}
    <td>{{ p.value|e }}</td>
    {% endif %}
    <td>{{ p.source|e }}</td>
  </tr>
{% endfor %}
</table>

<h2>Timing</h2>
<table class="table table-striped table-bordered table-condensed" width="100%">
  <tr class="alt"><td class="left">Start</td><td>{{ start }}</td></tr>
{% if end %}
  <tr><td class="left">End</td><td>{{ end }}</td></tr>
{% endif %}
  <tr {{ 'class="alt"' if end else '' }}><td class="left">Elapsed</td><td>{{ elapsed }}</td></tr>
</table>

</div>
{% endblock %}
