{% extends "travis.layout.html" %}

{% macro shortenrev(rev) -%}
    {% if rev|length == 40 %}
    {{ rev[:8] }}
    {% else %}
    {{ rev }}
    {% endif %}
{%- endmacro %}

{% block body %}

<div class="page-title">
  <h1>{{ project }}</h1>
</div>

<hr />

<div class="project">

{% for b in builds %}
<div class="build {{ b.color }}">
    <div>
      <div class="pull-right">
        <a class="btn btn-primary" href="{{project}}/{{ b.number }}">Details</a>
      </div>
      {% if b.revisions %}
        <h2><a href="#">{{ shortenrev(b.revisions[-1].revision) }}</a> <small>{{ b.revisions[-1].comments }}</small></h2>
      {% else %}
        <h2><a href="#">{{ shortenrev(b.properties.got_revision[0]) }}</a> <small>Manual build requested by {#{{ b.properties.owner[0] }}{# at {#{ b.when }#}</small></h2>
      {% endif %}
    </div>
</div>
{% endfor %}

</div>

{% endblock %}

