{% extends "layout.html" %}

{% macro display_builds(b, span, alt) -%}
    {% if b.builds %}
      {% for sb in b.builds %}
        <td class="DevStatusBox {{ alt }}">
          <a href="#" title="" class="DevStatusBox {{ sb.color }}" target="_blank"></a>
        </td>
      {% endfor %}
    {% else %}
      <td class="DevStatusBox {{ alt }}" width="100%" colspan="{{ span }}">
        <a href="#" title="" class="DevStatusBox {{ b.color }}" target="_blank"></a>
      </td>
    {% endif %}
{%- endmacro %}

{% block content %}

<h1>Project: {{ project }}</h1> 

<div align="center">
  <table width="95%" class="Grid" border="0" cellspacing="0">
    <tr>
      <td width="33%" align="left" class="left_align">
{#
{% if repository %}
        <br><b>Repository:</b> {{ repository|e }}
{% endif %}
{% if branch != ANYBRANCH %}
        <br><b>Branch:</b> {{ branch|e }}
{% endif %}
#}

      </td>
      <td width="33%" align="center" class="center_align">
        <div align="center">
          <table class="info">
            <tr>
              <td>Legend:&nbsp;&nbsp;</td>
              <td class='legend success' title='All tests passed'>Passed</td>
              <td class='legend failure' title='There is a new failure. Take a look!'>Failed</td>
              <td class='legend warnings' title='It was failing before, and it is still failing. Make sure you did not introduce new regressions'>Failed&nbsp;Again</td>
              <td class='legend running' title='The tests are still running'>Running</td>
              <td class='legend exception' title='Something went wrong with the test, there is no result'>Exception</td>
              <td class='legend offline' title='The builder is offline, as there are no slaves connected to it'>Offline</td>
              <td class='legend notstarted' title='No result yet.'>No&nbsp;data</td>
            </tr>
          </table>
        </div>
      </td>
     </tr>
  </table>
</div>

<br/>

{% set alt_class = cycler('', 'Alt') %}
{% set span = 10 %}

<table>

{% for e in environments %}
  <tr>
    <td class="DevStatus" colspan="2">{{ e.label }}</td>
    {% for n in e.children %}
    <td class="DevStatus" width="{{ n.width }}%" colspan="{{ n.span }}">{{ n.label }}</td>
    {% endfor %}
  </tr>
{% endfor %}

  <tr class='DevStatusSpacing'><td></td></tr>

{% for b in builds %}
  {% set alt = alt_class.next() %}

  {% if b.revisions %}
    {% for r in b.revisions %}
    <tr>
      <td width="1%" class="DevRev {{ alt }}">{{ r.revision }}</td>
      <td width="1%" class="DevName {{ alt }}">{{ r.who }}</td>
      {% if loop.first %}
      {{ display_builds(b, span, alt) }}
      {% else %}
      <td width="100%" class="DevStatus {{ alt }}" colspan="{{ span }}"></td>
      {% endif %}
    </tr>
    <tr>
      <td class="DevComment {{ alt }}" colspan="{{ span }}">{{ r.comments|replace('\n', '<br/>')|replace('  ','&nbsp; ') }}</td>
    </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td width="1%" class="DevRev {{ alt }}">?</td>
      <td width="1%" class="DevName {{ alt }}">Anonymous</td>
      {{ display_builds(b, span, alt) }}
    </tr>
    <tr>
      <td class="DevComment {{ alt }}" colspan="{{ span }}">This build was forced through the web interface.</td>
    </tr>
  {% endif %}

  {% if b.failures %}
  <tr>
    <td class="DevDetails {{ alt }}" colspan="{{ span }}">
      <ul>
        {% for f in b.failures %}
        <li>
          {{ f.name }}<br/>
          {%- for l in f.logs -%}<a href="../{{ l.url }}">{{ l.name }}</a>&nbsp;{%- endfor -%}
        </li>
        {% endfor %}
      </ul>
    </td>
  <tr>
  {% endif %}

  <tr class='DevStatusSpacing'><td></td></tr>
{% endfor %}
</table>

{% endblock %}

