{% extends "travis.layout.html" %}
{% import 'forms.html' as forms %}
{% from "change_macros.html" import change with context %}

{% set buildername = b.getBuilder().getName() %}

{% block body %}

<div class="page-header">
  <h1>{{ buildername }} <small>(build #{{ b.getNumber() }})</small></h1>
</div>

<ul class="nav nav-tabs" id="build-tabs">
  <li class="active"><a data-toggle="tab" href="#builds">Build</a></li>
  <li class=""><a data-toggle="tab" href="#source">Source</a></li>
  <li class=""><a data-toggle="tab" href="#properties">Properties</a></li>
  <li class=""><a data-toggle="tab" href="#metrics">Metrics</a></li>
</ul>

<div class="tab-content">

{#
{% if not b.isFinished() %}
  <h2>
    Build In Progress <small>
  </h2>
  {% if authz.advertiseAction('stopBuild', request) %}
  <form action="../../../builders/{{ buildername }}/builds/{{ b.getNumber() }}/stop" method="post">
    <input class="btn btn-large btn-danger" name="comments" type="submit" value="Interrupt This Build">
    </form>
  {% endif %}
{% else %}
  <h2>Results</h2>

  <p>This build ended in state <span class="label label-{{ result_css}}">{{ result_css }}</span> in {{ elapsed }}.</p>
   
  {% if authz.advertiseAction('forceBuild', request) %}
  <form method="post" action="../../../builders/{{ buildername }}/builds/{{ b.getNumber() }}/rebuild" class="command rebuild">
    <input class="btn btn-large btn-primary" type="submit" value="Rebuild" />
  </form>
  {% endif %}

{% endif %}
#}

<div class="tab-pane active" id="builds">
{% if builds|length > 1 %}

{% set env = builds[0].environment.keys() %}

<h2>Build Matrix</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      {% for e in env %}
      <th>{{ e }}</th>
      {% endfor %}
      <th>Finished</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    {% for b in builds %}
    <tr>
      <td><a href="#build-{{ b.number }}">{{ b.number }}</a></td>
      {% for e in env %}
      <td><code>{{ b.environment[e] }}</code></td>
      {% endfor %}
      <td>{{ b.end|default("-") }}</td>
      <td><span class="label label-{{ b.result_css}}">{{ b.result_css }}</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% for b in builds if b.result_css != 'pending' %}
<section name="build-{{ b.number }}">
<h2>Build {{ b.number }} {% if b.environment %}
<small>({% for k, v in b.environment.items() %}{{k}} = {{v}}{% if not loop.last %}, {% endif %}{% endfor %})</small>
{% endif %}</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Step</th>
      <th>Log</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for s in b.steps if s.css_class != 'not_started' %}
    <tr>
      <td>
        {% if not s.name.startswith("travis_") %}
        {{ s.name }}
        {% else %}
        <code>{{ s.text }}</code>
        {% endif %}
      </td>
      <td>
        {% for l in s.logs %}
        <a href="{{ l.link }}">{{ l.name }}</a>
        {% endfor %}
      </td>
      <td>{{ s.time_to_run if s.time_to_run else '-' }}</td>
      <td><span class="badge badge-{{ s.css_class }}"></span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</section>
{% endfor %}
</div>

<div class="tab-pane" id="source">
<h2>Source</h2>

{% for ss in sourcestamps %}
<table class="table table-striped table-bordered table-condensed" width="100%">
{% if ss.project %}
  <tr><td class="left">Project</td><td>{{ ss.project|projectlink }}</td></tr>
{% endif %}

{% if ss.repository %}
  <tr><td class="left">Repository</td><td>{{ ss.repository|repolink }}</td></tr>
{% endif %}

{% if ss.branch %}
  <tr><td class="left">Branch</td><td>{{ ss.branch|e }}</td></tr>
{% endif %}

{% if ss.revision %}
  <tr><td class="left">Revision</td><td>{{ ss.revision|revlink(ss.repository) }}</td></tr>
{% endif %}

{% if got_revisions[ss.codebase] %}
  <tr><td class="left">Got Revision</td><td>{{ got_revisions[ss.codebase]|revlink(ss.repository) }}</td></tr>
{% endif %}

{% if ss.patch %}
  <tr><td class="left">Patch</td><td>YES</td></tr>
{% endif %}

{% if not ss.branch and not ss.revision and not ss.patch and not ss.changes %}
  <tr><td class="left" colspan="2">Build of most recent revision</td></tr>
{% endif %}

</table>
{% endfor %}

{% if has_changes %}
    <div class="column">
      <h2>All Changes:</h2>
        {% for ss in sourcestamps %}
            {% if ss.changes %}
            <ol>
                  {% for c in ss.changes %}
                    <li><h3>Change #{{ c.number }}</h3>
                      {{ change(c.asDict()) }}
                    </li>
                  {% endfor %}
            </ol>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

</div>


<div class="tab-pane" id="properties">

<h2>Build Properties</h2>

<table class="table table-striped table-bordered table-condensed" width="100%">
<tr><th>Name</th><th>Value</th><th>Source</th></tr>

{% for p in properties %}
  <tr class="{{ loop.cycle('alt', '') }}">
    <td class="left">{{ p.name|e }}</td>
    {% if p.short_value %}
    <td>{{ p.short_value|e }} .. [property value too long]</td>
    {% elif p.value is sequence and p.value is not string %}
    <td>
      <ul>
      {% for v in p.value %}
        <li>{{ v }}</li>
      {% endfor %}
      </ul>
    </td>
    {% else %}
    <td>{{ p.value|e }}</td>
    {% endif %}
    <td>{{ p.source|e }}</td>
  </tr>
{% endfor %}
</table>
</div>

<div class="tab-pane" id="metrics">
<h2>Timing</h2>
<table class="table table-striped table-bordered table-condensed" width="100%">
  <tr class="alt"><td class="left">Start</td><td>{{ start }}</td></tr>
{% if end %}
  <tr><td class="left">End</td><td>{{ end }}</td></tr>
{% endif %}
  <tr {{ 'class="alt"' if end else '' }}><td class="left">Elapsed</td><td>{{ elapsed }}</td></tr>
</table>
</div>

</div>
{% endblock %}
